doctype html
html
  head
    title My Page
    script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.10/sweetalert2.all.min.js' integrity='sha512-hqj3uRcg6pYUd2hJHI1k1qKyf8PA/YMWcEV9hTlD+mpnUKe2mpzS7Epp8FCQrGG632TEp2Bn194SN69Auykcdg==' crossorigin='anonymous' referrerpolicy='no-referrer')
  body
    h1 Hello, World!
    - var name = 'John'
    - var age = 25
    - var message = `My name is ${name} and I'm ${age} years old.`
    p= message
    script.
        function convertToSlug(str) {
            //replace all special characters | symbols with a space
             str = str.replace(/[`~!@#$%^&*()_\-+=\[\]{};:'"\\|\/,.<>?\s]/g, ' ').toLowerCase();
            // trim spaces at start and end of string
            str = str.replace(/^\\s+|\s+$/gm, '');
            // replace space with dash/hyphen
            str = str.replace(/\\s+/g, '-');
            return str;
        }
        console.log(convertToSlug('Hello World!'));
            Swal.fire({
                icon: 'success',
                title: 'hello',
            })
