extend ../layouts/layout

block content
  a.btn.btn-success.my-3.btn-rounded(href='/' + fullPath + '/add') Add
  .table-responsive
    table#categoriesTable.table.align-middle.mb-0.bg-white.table-hover.text-nowrap
      thead.bg-light
        tr
          th ID
          th Name
          th Slug
          th Status
          th Actions
      tbody
        if (categories.length)
          each category in categories
            tr
              td #{category.id}
              td #{category.name}
              td #{category.slug}
              td
                if(category.status)
                  span.badge.badge-success.rounded-pill.d-inline Active
                else
                  span.badge.badge-danger.rounded-pill.d-inline Deactive
              td
                a.btn.btn-sm.btn-primary.btn-rounded(href='/' + fullPath + '/edit/' + category.id) Edit
                a.btn.btn-sm.btn-danger.btn-rounded.mx-1(href='/' + fullPath + '/delete/' + category.id) Delete
block scripts
  script.
    $(document).ready(function() {
      $('#categoriesTable').DataTable();
    });