extend ./layouts/layout

block customHead
  script(src='https://www.google.com/recaptcha/api.js?render=6LeHzKQjAAAAAB2suSQorn4HvsCJSeG12NkIyAiy')

block content
  +breadcrumb
  .container.my-5
    section.pb-4
      form#sign-in.row.justify-content-center.align-items-center(method='POST')
        .col-10.col-sm-8.col-md-6.col-lg-4.col-xl-3.text-center
          // Username input
          .form-floating.mb-4
            input#username.form-control(type='text' name='username' placeholder='Username' value=old_username)
            label(for='username') Username
          // Password input
          .form-floating.mb-4
            input#password.form-control(type='password' name='password' placeholder='Password')
            label(for='password') Password
          input(name='_csrf' type='hidden')
          input(name='g-recaptcha-response' type='hidden')
          .row
            .col
              .form-check
                input#remember.form-check-input(type='checkbox' value checked)
                label.form-check-label(for='remember') Remember me
            .col
              a(href='/forgot') Forgot password?
          // Submit button
          button.btn.btn-outline-primary.my-3(type='submit' name='signin') Sign in
          // Signin buttons
          .text-center
            p Not a member? 
              a(href='/signup') Sign up
            p or sign up with:
            button.btn.btn-secondary.btn-floating.mx-1(type='button')
              i.ti-facebook
            button.btn.btn-secondary.btn-floating.mx-1(type='button')
              i.ti-google
            button.btn.btn-secondary.btn-floating.mx-1(type='button')
              i.ti-twitter
            button.btn.btn-secondary.btn-floating.mx-1(type='button')
              i.ti-github

block scripts
  script.
    $(() => {
      $('button[name="signin"]').hide();
      $('input[name="_csrf"]').val("#{csrfToken}");
      grecaptcha.ready(function() {
        grecaptcha.execute('6LeHzKQjAAAAAB2suSQorn4HvsCJSeG12NkIyAiy', {action: 'signin'}).then((token) => {
          $('input[name="g-recaptcha-response"]').val(token);
          $('button[name="signin"]').show();
        });
      });
    });