extend ./layouts/layout
block customHead
  script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit')

block content
  +breadcrumb
  .container.my-5
    section.pb-4
      form#sign-up.row.justify-content-center.gx-3.gy-2.align-items-center(method='POST')
        .text-center.mb-3
          p Sign up with:
          button.btn.btn-secondary.btn-floating.mx-1(type='button')
            i.ti-facebook
          button.btn.btn-secondary.btn-floating.mx-1(type='button')
            i.ti-google
          button.btn.btn-secondary.btn-floating.mx-1(type='button')
            i.ti-twitter
          button.btn.btn-secondary.btn-floating.mx-1(type='button')
            i.ti-github
        p.text-center or:
        .col-sm-8.col-md-6.col-lg-4.col-xl-3
          // Email input
          .form-floating.mb-4
            input#email.form-control(type='email' name='email' placeholder="Email" value=old_email)
            label.form-label(for='email') Email
          // Username input
          .form-floating.mb-4
            input#username.form-control(type='text' name='username' placeholder="Username" value=old_username)
            label.form-label(for='username') Username
          // Password input
          .form-floating.mb-4
            input#password.form-control(type='password' placeholder="Password" name='password')
            label.form-label(for='password') Password
          // Repeat Password input
          .form-floating.mb-4
            input#repeat-password.form-control(type='password' placeholder="Repeat Password" name='repeat-password')
            label.form-label(for='repeat-password') Repeat Password
          // Checkbox
          .form-check.d-flex.justify-content-center.mb-4
            input#registerCheck.form-check-input.me-2(type='checkbox' name='check')
            label.form-check-label(for='registerCheck') I have read and agree to the terms
          input(name='_csrf' type='hidden')
          #_recaptcha.mb-4
          // Submit button
          .d-flex.justify-content-center
            button.btn.btn-outline-primary.mb-4(type='submit' name='signin') Sign up
          .text-center
            p Already have an account? 
              a(href='/signin') Sign in 

block scripts
  script.
    var onloadCallback = () => {
      grecaptcha.render('_recaptcha', {
        'sitekey' : '6LdlzIgjAAAAAHhB1DoQpIVo4hWDudqCaPkp65_Q',
        'action' : 'signup'
      });
    };
    $(() => {
      $('input[name="_csrf"]').val("#{csrfToken}");
    });