extends layouts/index.pug

block content
    .container.my-2
        h1.mb-0.text-center.mb-3 Sign in
        section.pb-4
            form#sign-in.row.justify-content-center.gx-3.gy-2.align-items-center(method = 'POST')
                .col-sm-8.col-md-6.col-lg-4.col-xl-3
                    // Username input
                    .form-outline.mb-4
                        input#username.form-control(type='text' name='username')
                        label.form-label(for='username') Username
                    // Password input
                    .form-outline.mb-4
                        input#password.form-control(type='password' name='password')
                        label.form-label(for='password') Password
                    input(name="_csrf" type="hidden" value="" + csrfToken + "")
                    .row.mb-4
                        .col.d-flex.justify-content-center
                            // Checkbox
                            .form-check
                                input#remember.form-check-input(type='checkbox' value='' checked='')
                                label.form-check-label(for='remember')  Remember me 
                        .col
                            // Simple link
                            a(href='/forgot') Forgot password?
                    // Submit button
                    button.btn.btn-primary.btn-block.mb-4(type='submit' name='signin') Sign in
                    // Register buttons
                    .text-center
                        p
                            | Not a member? 
                            a(href='/signup') Sign up
                        p or sign up with:
                        button.btn.btn-secondary.btn-floating.mx-1(type='button')
                            i.fab.fa-facebook-f
                        button.btn.btn-secondary.btn-floating.mx-1(type='button')
                            i.fab.fa-google
                        button.btn.btn-secondary.btn-floating.mx-1(type='button')
                            i.fab.fa-twitter
                        button.btn.btn-secondary.btn-floating.mx-1(type='button')
                            i.fab.fa-github