extend ../../layouts/layout

block content
  +adminLayout
block adminContent
  a.btn.btn-outline-primary.btn-rounded(href='/' + paths[0] + '/' + paths[1]) Back
  form.row.justify-content-center.align-items-center.my-4(method='POST')
    .col-12.col-sm-10.col-md-8.col-lg-6.col-xl-5
      .form-floating.my-4
        input#name.form-control(type='text' name='name' placeholder='Name' required)
        label.form-label(for='name') Name
      .form-floating.my-4
        input#slug.form-control(type='text' name='slug' placeholder='Slug' required)
        label.form-label(for='slug') Slug
      input(name='_csrf' type='hidden' value=csrfToken)
      .d-flex.justify-content-center
        button.btn.btn-outline-info.col-auto(type='submit') Add
