extend ../../layouts/layout


block content
  +adminLayout

block adminContent
  form#settings.row.justify-content-center.align-items-end(action='/admin/settings/save' method='POST')
    .form-check.form-switch
      input#maintenance.form-check-input(type='checkbox' role='switch' name='maintenance' checked=maintenance ? true : false)
      label.form-check-label(for='maintenance') Maintenance
    input(name='_csrf' type='hidden' value=csrfToken)
    button.btn.btn-outline-primary.col-5.col-sm-3.col-xl-1(type='submit') Save