<%- include('partials/header.ejs'); -%>
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <!-- Section: Main chart -->
            <section class="mb-4">
                <div class="card">
                    <div class="card-header text-center py-3">
                        <h5 class="mb-0 text-center">
                            <strong>Add Category</strong>
                        </h5>
                    </div>
                    <div class="container card-body py-3">
                        <a class="btn btn-primary my-3 btn-rounded" href="/admin/categories">Back</a>
                    </div>
                </div>
            </section>
            <!--Section: Sales Performance KPIs-->
            <!-- Section: Main chart -->
        </div>
    </main>
<%- include('partials/footer.ejs'); -%>