<%- include('partials/header.ejs'); -%>
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <!-- Section: Main chart -->
            <section class="mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0 text-center"><strong>Posts</strong></h5>
                </div>
            </section>
            <!-- Section: Main chart -->
        </div>
    </main>
<%- include('partials/footer.ejs'); -%>
