<%- include("../partials/header.ejs") -%>
<div id="error-404" class="text-mited text-center">
  <div class="fof">
    <h1>404</h1>
    <h2>File Not Found</h2>
  </div>
</div>
<%- include("../partials/footer.ejs") -%>
